.homepage-container {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f7fb;
}

.navbar {
  background-color: #1e3a8a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  padding: 10px 15px;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #2563eb;
}

.main-content {
  padding: 40px;
  flex-grow: 1;
}
